.assigned-task-bg{
    background-image: linear-gradient(to bottom, #1b1052, #aaa0d9);
background-size: cover;
height: 100vh;
display: flex;
flex-direction: column;
padding: 25px;
}

.assignrd-page-heading{
    color: #ffffff;
    font-size: 28px;
    text-align: left;
    font-family: roboto;
}

.headings-part{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 30px;
}

.titles{
    color: #ffffff;
    font-size: 22px;
    font-family: roboto;
}

.task-list{
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}

.back-btn{
    height: 28px;
    width: 58px;
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
}